{% extends "_base.html" %}
{% from "_macros.html" import do_flashes %}


{% block content %}

    <div align="right">
        <a href="{{ url_for('logout') }}">Log Out</a>
    </div>

    <h1 align="center">Welcome, {{ current_user.username }}!</h1>

    {{ do_flashes() }}

    <h3>Stories Started</h3>
    {% if current_user.get_stories() is none %}
        <p>You haven't started any stories :(</p>
        <p>Start one <a href="{{ url_for('new_story') }}">here</a>.</p>
    {% else %}
        <ul>
        {%  for story in current_user.get_stories() %}
            <li>
                <a href="{{ url_for('show_story', id=story) }}">story</a>
            </li>
        {%  endfor %}
        </ul>
    {% endif %}

    <h3>Stories Contributed To</h3>
    {% if current_user.get_story_edits() is none %}
        <p>You haven't contributed to any stories :(</p>
        <p>Find one <a href="{{ url_for('stories') }}">here</a>.</p>
    {% else %}
        <ul>
            {%  for story in current_user.get_story_edits() %}
                <li>
                    <a href="{{ url_for('show_story', id=story) }}">story</a>
                </li>
            {%  endfor %}
        </ul>
    {% endif %}

{% endblock content %}