{% extends "_base.html" %}
{% from "_macros.html" import do_flashes %}

{% block content %}

    <div align="right">
        {% if current_user is none %}
            <a href="{{ url_for('login') }}">Log In</a>
            or
            <a href="{{ url_for('signup') }}">Sign Up</a>
        {% else %}
            <p>Logged in as {{ current_user.username }}</p>
            <a href="{{ url_for('profile') }}">Profile</a>
            <a href="{{ url_for('logout') }}">Log Out</a>
        {% endif %}
    </div>

    <h1 align="center">Welcome to Collaborative Stories</h1>

    {{ do_flashes() }}

    <p align="center"><a href="{{ url_for('stories') }}">Story Hub</a></p>

{% endblock content %}