{% extends "_base.html" %}

{% block content %}

    <div align="right">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('profile') }}">My Profile</a><br>
        <a href="{{ url_for('logout') }}">Log Out</a>
    </div>
    <h1>Stories</h1>
    <form method="post" action="/search">
        <input type="text" name="query">
        <input type="submit" name="button" value="Search">
    </form>
    <p>Start a new story <a href="{{ url_for('new_story') }}">here</a>.</p>
    {% for story in threads %}
        <a href="{{ url_for('show_story', id=story.id) }}">{{ story.title }} by {{ story.author.username }}</a><br>
    {%  endfor %}

{% endblock content %}