{% extends "_base.html" %}

{% from "_macros.html" import do_flashes %}

{% set title = to_render.title %}
{% block content %}
    <h1>{{ to_render.title }} by {{ to_render.author.username }}</h1>

    {{ do_flashes() }}

    {% if not has_added_to %}
    {{ to_render.get_additions()[-1].content }}<br><br>

    <form method="post">
        Add to the story:<br>
        <textarea id="addition" name="addition" minlength="10" maxlength="2500" rows="10" cols="100"></textarea><br><br>

        <input type="submit" value="Add to Story">
    </form>

    {% else %}
        {%  for addition in to_render.get_additions() %}
            <b><a href="/profiles/{{ addition.author_name() }}">{{ addition.author_name() }}</a></b><br>
            <p> {{ addition.content }} </p>
        {% endfor %}
    {% endif %}
    <p><a href="{{ url_for('profile') }}">Profile</a></p>
{% endblock content %}

