{% extends "_base.html" %}
{% from "_macros.html" import do_flashes %}


{% block content %}

    <div align="right">
        <a href="{{ url_for('logout') }}">Log Out</a><br>
        <a href="/profile">My Profile</a>
    </div>

    <h1 align="center">{{ to_render.username }}</h1>

    {{ do_flashes() }}

    <h3>Stories Started</h3>
    {% if to_render.get_stories() is none %}
        <p>{{ to_render.username }} has not started any stories :(</p>
    {% else %}
        <ul>
        {%  for story in to_render.get_stories() %}
            <li>
                <a href="{{ url_for('show_story', id=story.id) }}">{{ story.title }}</a>
            </li>
        {%  endfor %}
        </ul>
    {% endif %}


    <h3>Stories Contributed To</h3>
    {% if to_render.get_story_edits() is none %}
        <p>{{ to_render.username }} has not contributed to any stories :(</p>
    {% else %}
        <ul>
            {%  for story in to_render.get_story_edits() %}
                <li>
                    <a href="{{ url_for('show_story', id=story.id) }}">{{ story.title }}</a>
                </li>
            {%  endfor %}
        </ul>
    {% endif %}
{% endblock content %}